{
  "MONGO_URI": "mongodb://localhost:27017/movie_app",
  "TMDB_API_KEY": "YOUR TMDB API KEY",
  "PORT": 5000,
  "TMDB_ENDPOINT": "https://api.themoviedb.org/3",
  "ENVIRONMENT": "develop",
  "FRONTEND_URL": "http://localhost:5173",
  "JWT_SECRET":"YOUR JWT TOKEN",
  "JWT_EXPIRES": "7d"
}